{include file="index/header" title="出借"/}

<a href="//www.sc.com/index/user/personal">个人中心</a>
<h2>项目列表（{$count}）</h2>
{volist name="list" id="project" }
<div class="info">
    ID：{$project.id}<br />
    借款人id：{$project.borrow_id}<br />
    需要接的总钱数：{$project.total_money}<br />
    已借到的钱：{$project.existence_money}<br />
    正常利息：{$project.normal_percent}<br />
    逾期利息：{$project.overdue_percent}<br />
    所借天数：{$project.day}<br />
    <a href="//www.sc.com/index/user/apply_lend/project_id/{$project.id}">选择该项目投资</a>
</div>
{/volist}

{include file="index/footer" /}